<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="network.datahop.localfirst">
<uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.READ_INTERNAL_STORAGE"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
    <service
        android:name="network.datahop.localfirst.net.DataHopService"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="true"/>
    </application>
</manifest>